<h2>Profile: <%= @employee.email %></h2>

<% @employee.vacations.each do |vacation| %>
  <%= content_tag(:div, id: dom_id(vacation), class: "p-2 mb-2 border") do %>
    <%= link_to "Vacation request № #{vacation.id}", vacation %>  
    <%= "from #{vacation.start_date} to #{vacation.end_date}" %>

    <div class="vacation_status d-inline text-secondary fw-bold">
      Status: <%= vacation.status %>
    </div>
  <% end %>
<% end %>
